
<footer>
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 segment-one">
                <h3 class="blw"> Get Colleges </h3>
                <p class="blw"> Get Colleges is an online platfrom for students to get admission for colleges across India. 
                    Students can apply for the college they like for our website. 
                    Our agents will do free Counseling as well. Feel free to contact us
                    
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 segment-two">
                <h2 class="blw"> Quick Links </h2>
               <ul>
                <li><a href="/"> Home </a></li>
                   <li><a href="/colleges"> Colleges </a></li>
                   <li><a href="/login"> Accounts </a></li>
                   <li><a href="/about"> About Us </a></li>
                   
               </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 segment-three">
                <h2 class="blw"> Contact Us </h2>
                <p class="blw" > If you have any Queries or need to Partner with us Contact</p>

                <ul>
                    <li><a href="mailto:webtechapplications@gmail.com"><i class="fas fa-envelope"></i> Email </a></li>
                    <li><i class="fas fa-phone-square-alt"></i> +91 7907567970 (Tech Support) </li>
                    <li><i class="fas fa-phone-square-alt"></i> +91 8129872549 (Counselling Support) </li>
                </ul>
                      


                
            </div>

        </div>
    </div>
</div>

<p class="footer-bottom-text"> Designed and Developed By Abhishek,  All Rights reserved &copy;</p>

</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" src="/script.js"></script>


</body>
</html>