<%- include ("includes/header") %>
<div class="container">
    <h1> <% array.forEach(function(temp){
    %> the values <%= temp.name %>
    <%  }); %> </h1>
</div>


<%- include ("includes/footer") %>