

<div class="row">
    <div class="col">
    <div class="container" >
        <a href="/college/ " class="btn btn-primary"> More info</a>
        <%= maindata %>
    </div>
</div>
</div>

<%- include ("includes/footer") %>