<%- include ("includes/header") %>



    <div class="row mainimage" style="margin-top: -1em;">
        <div class="col-md-12">
        <div class="container main-container">
            <div class="mainhead">
                <h1> <a href="/colleges"><button type="button" class="btn btn-outline-primary btn-lg mainpagebtn">Get Colleges</button></a></h1>
                <div class="mainpage-text">
                <p>
                   <h5>Welcome to Get Colleges.</h5> 
                   <h6> We are an online platform which provides Admission and Free Counselling to Colleges in India. 
                       Students who wish to take admission can apply online via this website. Our agents will reachout and will take admission in college. 
                      The Admission Process will be 100% Online
                   </h6>
                </p>
            </div>
            </div>
        </div>
    </div>
    </div>

<!-- Slider -->
<!-- <div class="container-fluid p-0">

    <div class="site-slider">

        <div class="silder-one">
            <div class="card" style="width: 18rem;">
                <img src="https://c8.alamy.com/comp/R0H9GD/future-technology-background-abstract-digitally-generated-imag-R0H9GD.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 2">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 3">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 4">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 5">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 6">
            </div>
            
        </div>
        <div class="slider-btn">
            <span class="prev position-top"><i class="fas fa-chevron-circle-left"></i></span>
            <span class="next position-top right-0"><i class="fas fa-chevron-circle-right"></i></span>
        </div>

    </div>


    
</div> -->

<!-- / Slider -->


<%- include ("includes/footer") %>