<%- include ("includes/header") %>

<!-- Slider -->

<div class="container-fluid p-0">

    <div class="site-slider">

        <div class="silder-one">
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 1">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 2">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 3">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 4">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 5">
            </div>
            <div>
                <img src="https://res.cloudinary.com/abhi894/image/upload/v1587370162/IMG_20170725_113659_gn0pad.jpg" class="img-fluid" alt="Banner 6">
            </div>
            
        </div>
        <div class="slider-btn">
            <span class="prev position-top"><i class="fas fa-chevron-circle-left"></i></span>
            <span class="next position-top right-0"><i class="fas fa-chevron-circle-right"></i></span>
        </div>

    </div>


    
</div>

<!-- / Slider -->


<%- include ("includes/footer") %>