<%- include ("includes/header") %>

<div class="container">
    <h1> Create a new College</h1>
    <form action="/college" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="mark" placeholder="Marks">
        <button type="submit">Submit</button>
    </form>
</div>


<%- include ("includes/footer") %>