<%- include ("./includes/header") %>

<div class="container" >
   
    <form action="/college" method="POST" enctype="multipart/form-data">
        <div class="row">
            
            <div class="col"></div>
            <div class="col-6">
                <h1> Add a new College</h1>
                
                <div class="form-group">
                    <label for="collegeName">College Name : </label>
                    <input type="text" name="collegeName" class="form-control" id="collegeName" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                       Enter the full name of the college.
                      </small>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                  <div class="form-group">
                    <label for="collegeId">College ID : </label>
                    <input type="text" name="collegeid" class="form-control" id="collegeId" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                       Give A unique id, So that it will apper in the Google Search, eg : soecusat
                      </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="image">Logo : </label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="place">Place : </label>
                    <input type="text" name="place" class="form-control" id="place" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Enter the Location of the College. example Kochi, Kerala.
                    </small>
                  </div>

                  </div>
                  <div class="col-md-6">
                  <div class="form-group">
                    <label for="year">Year Established : </label>
                    <input type="number" name="year" class="form-control" id="year" min="1900" max="2021" required>
                  </div>
                  </div>
              </div>
              <label class="form-check-label" for="cat"> Category &nbsp; </label>
      <select id="cat" class="form-control" name="category">
        <option value="Engineering">Engineering</option>
        <option value="Management">Management</option>
        <option value="Medical">Medical</option>
        <option value="Not Specified">Others</option>
      </select>
                  <div class="form-group">
                    <label for="affiliation">Afiliation : </label>
                    <input type="text" name="affiliation" class="form-control" id="affiliation" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter the University the collage is affiliated.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="About">Brief Description : </label>
                    <input type="text" name="about" class="form-control" id="about" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter a Small intoduction about the college
                     </small>
                  </div>
                  <div class="form-group">
                    <label for="data1">Description </label>
                    <input type="text" name="data" class="form-control" id="data1">  
                  </div>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    Enter about the College
                 </small>
                  <div class="form-group">
                    <label for="location">Location : </label>
                    <input type="text" name="location" class="form-control" id="location">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        For Coordinates, To be left blank
                     </small>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Contact No : </label>
                    <input type="number" name="phone" class="form-control" id="phone"  required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter 10 Digit Indian Number Only
                     </small>
                  </div>
                  </div>
                    <div class="col-md-6">
                    <label for="email">Email : </label>
                    <input type="email" name="email" class="form-control" id="email" required>
                  </div>
                  </div>

                  Facts : 

                  <div class="row">
     
                    <div class="col-md-6">
                  <div class="form-group">

                    <input type="text" name="fact1" class="form-control facts"  required>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" name="fact2" class="form-control facts"  required>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="fact3" class="form-control facts"  required>
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="fact4" class="form-control facts"  required>
                        </div>
                        </div>
                  </div>

                  Placement : 
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <label for="p1">Year : </label>
                    <input type="text" name="p1name" class="form-control p1"  required>
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Average : </label>
                    <input type="text" name="p1avg" class="form-control p1"  required>
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Highest : </label>
                    <input type="text" name="p1high" class="form-control p1"  required>
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Percentage : </label>
                    <input type="text" name="p1per" class="form-control p1"  required>
                    </div>

                  </div>

                  Placement : 
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <label for="p1">Year : </label>
                    <input type="text" name="p2name" class="form-control p1" >
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Average : </label>
                    <input type="text" name="p2avg" class="form-control p1" >
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Highest : </label>
                    <input type="text" name="p2high" class="form-control p1" >
                    </div>
                    <div class="col-md-3">
                      <label for="p1">Percentage : </label>
                    <input type="text" name="p2per" class="form-control p1" >
                    </div>

                  </div>




                  <div class="form-group">
                      <h3 class="alert">Can We give admission?</h3>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio1"> Yes : &nbsp; </label>
                        <input class="form-check-input" type="radio" name="admit" id="inlineRadio1" value="1">
                        
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio2">No : &nbsp; </label>
                        <input class="form-check-input" type="radio" name="admit" id="inlineRadio2" value="0">
                        
                      </div>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                        Give yes if we can provide Councelling in this college
                     </small>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>


<%- include ("includes/footer") %>